* {color: black}
body {overflow-x: hidden}
header {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
}
hr {
  width: 0;
  border-top: 1px solid grey;
}
#programs {
  top: 100vh;
  height: 100vh;
}
.carousel-inner {
  height: 75vh;
  width: 75vw;
}
.carousel-item {
  height: inherit;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.carousel-content {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}
#formula {top: 200vh}
@media (max-height: 520px) {
  #formula {top: 225vh}
}
footer {
  top: 300vh;
  width: 100vw;
  margin: 0 auto;
  position:absolute;
}
@media (max-height: 520px) {
  footer {top: 375vh}
}